<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingjusi.mediaweb.mapper.MyTransactionMapper">
  <resultMap id="BaseResultMap" type="com.jingjusi.mediaweb.common.domain.MyTransaction">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="cnt" jdbcType="DECIMAL" property="cnt" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="target" jdbcType="VARCHAR" property="target" />
    <result column="is_positive" jdbcType="VARCHAR" property="isPositive" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, cnt, create_time, reason, target, is_positive, operator
  </sql>
  <select id="selectByExample" parameterType="com.jingjusi.mediaweb.common.domain.MyTransactionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from jing_transaction_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jing_transaction_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from jing_transaction_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jingjusi.mediaweb.common.domain.MyTransactionExample">
    delete from jing_transaction_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jingjusi.mediaweb.common.domain.MyTransaction">
    insert into jing_transaction_info (id, cnt, create_time, 
      reason, target, is_positive, 
      operator)
    values (#{id,jdbcType=BIGINT}, #{cnt,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{reason,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, #{isPositive,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jingjusi.mediaweb.common.domain.MyTransaction">
    insert into jing_transaction_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cnt != null">
        cnt,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="target != null">
        target,
      </if>
      <if test="isPositive != null">
        is_positive,
      </if>
      <if test="operator != null">
        operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cnt != null">
        #{cnt,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="target != null">
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="isPositive != null">
        #{isPositive,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jingjusi.mediaweb.common.domain.MyTransactionExample" resultType="java.lang.Long">
    select count(*) from jing_transaction_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update jing_transaction_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.cnt != null">
        cnt = #{record.cnt,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reason != null">
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.target != null">
        target = #{record.target,jdbcType=VARCHAR},
      </if>
      <if test="record.isPositive != null">
        is_positive = #{record.isPositive,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null">
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update jing_transaction_info
    set id = #{record.id,jdbcType=BIGINT},
      cnt = #{record.cnt,jdbcType=DECIMAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      reason = #{record.reason,jdbcType=VARCHAR},
      target = #{record.target,jdbcType=VARCHAR},
      is_positive = #{record.isPositive,jdbcType=VARCHAR},
      operator = #{record.operator,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jingjusi.mediaweb.common.domain.MyTransaction">
    update jing_transaction_info
    <set>
      <if test="cnt != null">
        cnt = #{cnt,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="target != null">
        target = #{target,jdbcType=VARCHAR},
      </if>
      <if test="isPositive != null">
        is_positive = #{isPositive,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jingjusi.mediaweb.common.domain.MyTransaction">
    update jing_transaction_info
    set cnt = #{cnt,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      reason = #{reason,jdbcType=VARCHAR},
      target = #{target,jdbcType=VARCHAR},
      is_positive = #{isPositive,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>